

.picture1 {
  width: 100%;
}
.block-under-picture {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-title {
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 13px;
}
.channel-picture {
  background-color: rgba(0, 0, 255, 0.452);
}
.video-info {
  background-color: rgba(128, 128, 128, 0.397);
}
.video-author {
  font-weight: 600;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;
}
.profile-picture {
  width: 40px;
  border-radius: 20px;
}
.video-stats {
  color: rgb(96, 96, 96);
  font-size: 14px;
}
.thumbnail {
  margin-bottom: 7px;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 25px;
}